@import "colorVaribels.scss";
body{
    background-color: $whiteish;
    font-family: "roboto", "montserrat"; 

}
main{
    margin: 1rem 5rem 0 5rem; 
    width: 80%;


}

article{
    background-color: $white;
    color: $darkgrey;
    padding: 2rem;
    min-width: 903px;
    display:flex;
    flex-direction: column;
    align-items: start;

    p{
        text-align:left;
    }

    ul{
        text-align:left;
        a{
            color: $lightgrey;
            text-align:left;
         }
    }
}